.create {
    padding-bottom: 30px;

    &__main-info {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }

    &__datepicker {
        margin: 0 0 20px;
    }

    &__buttons-group {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__radio-group {
        flex-direction: row !important;
    }

    &__userItem {
        margin: 5px 0;
        padding: 20px;
    }
}
