@import 'variables';
@import 'bootstrap/bootstrap';
@import 'base/*';

body {
    font-family: 'Roboto', $font-family-base;

    &.wf-active {
        font-family: $font-family-base;
    }
}

@import 'components/*';
@import 'https://cdn.jsdelivr.net/npm/react-s-alert@1.4.1/dist/s-alert-default.css';
@import 'https://cdn.jsdelivr.net/npm/react-s-alert@1.4.1/dist/s-alert-css-effects/slide.css';

a {
    margin: 5px;

    &:hover {
        color: #fff;
    }
}
